<html>
<head>
	<title>Test Page</title>
	<link rel="stylesheet" href="/css/style.css">
	<script src="/js/wordcloud2.js"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
	<script src="js/cloudLexis.js"></script>
</head>

<body>
  <div class='home-button'>
    <a href="/home"><img src="/home.png" width="50px" height=auto></a>
  </div>
	<p class="app-title"> Word Cloud </p>
  {{#entries}}
    {{#words}}
      <script>addToCleanedData("{{this}}")</script>
    {{/words}}
  {{/entries}}
  <canvas id="my_canvas" class="word_cloud" width="400" height="300"></canvas>
  {{#if entries}}
    <script>
      WordCloud(document.getElementById('my_canvas'), getPreparedData());
    </script>
  {{else}}
    <p class="error">After you create some entires their data will be displayed here</p> 
  {{/if}}
  

  <div class="date-select">
    <p class="standardtxt"> Show me words from </p>
      <p class="standardtxt"> 
        <input class="standardbox" type="date" id="start" name="start-date"
        value="2000-01-01">
        to 
        <input class="standardbox" type="date" id="end" name="end-date"
          value="YYYY-MM-DD">
      </p>
      <script>document.getElementById("end").value=new Date().toJSON().slice(0,10)</script>
      <script>
        var startDate = document.getElementById('start');
        var endDate = document.getElementById('end');
        startDate.addEventListener('input',replace);
        endDate.addEventListener('input',replace);

        function between(date){
          if(parseInt(startDate.value.substring(0,4))<parseInt(date.substring(6,10))&&
             parseInt(endDate.value.substring(0,4))>parseInt(date.substring(6,10))){
            return true;
          }else{
            if(parseInt(startDate.value.substring(0,4))==parseInt(date.substring(6,10))){
              if(parseInt(startDate.value.substring(5,7))<parseInt(date.substring(0,2))){
                return true;
              }else{
                if(parseInt(startDate.value.substring(5,7))==parseInt(date.substring(0,2))){
                  if(parseInt(startDate.value.substring(8,10))<=parseInt(date.substring(3,5))){
                    return true;
                  }
                }
              }
            }
            if(parseInt(endDate.value.substring(0,4))==parseInt(date.substring(6,10))){
              if(parseInt(endDate.value.substring(5,7))>parseInt(date.substring(0,2))){
                return true;
              }else{
                if(parseInt(endDate.value.substring(5,7))==parseInt(date.substring(0,2))){
                  if(parseInt(endDate.value.substring(8,10))>=parseInt(date.substring(3,5))){
                    return true;
                  }
                }
              }
            }
          }
          return false;
        }

        function replace(){
          console.log("noticed");
          dataIndexs=[];
          cleanedData=[];
          {{#entries}}
            console.log(startDate.value);
            console.log("{{this.date}}");
            console.log(endDate.value);
            if(between("{{this.date}}")){
              {{#words}}
                addToCleanedData("{{this}}")
              {{/words}}
            }
          {{/entries}}
          WordCloud(document.getElementById('my_canvas'), getPreparedData());
        }
      </script>
		{{!-- <div style="display: grid;grid-template-columns: 1fr 1fr;">
	    <p><button  class="standardbtn" onClick="window.location.reload();">Refresh</button></p> --}}
			<p><button class="standardbtn" onclick="saveToPDF()">Download WordCloud</button></p>
		{{!-- </div> --}}
  </div>
</body>
</html>
